.main__content {
  display: grid;
  grid-template-columns: 15.25rem 1fr;
  align-items: flex-start;
  gap: 2rem;
  background: #DDDDDD;

  main {
    padding: 2rem 2rem 2rem 0;

    section {
      background: #ffffff;
      padding: 1.5rem;
      border-radius: 0.3125rem;

      + section {
        margin-top: 1.25rem;
      }
    }
  }
}