aside.aside__content {
  padding: 1rem;
  background: #fff;

  .navbar {
    &__list {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      list-style: none;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: .5rem;
      padding: .75rem;
      width: 13.25rem;
      cursor: pointer;
      border-radius: .3125rem;
      transition: all .3s;

      &:hover {
        background: #ECEBF0;
        color: #2E046D;
      }

      .iconWrapper {
        line-height: 0;
      }

      .itemName {
        font-weight: 500;
        font-size: .875rem;
        line-height: 1.25rem;
        letter-spacing: -0.005em;
      }

      &:first-child {
        background: #ECEBF0;
        color: #2E046D;
        font-weight: 600;

        &:hover {
          filter: brightness(0.8);
        }
      }

      .arrowIcon {
        margin-left: auto;
        line-height: 0;
      }
    }
  }
}